[submodule "build"]
	path = build
	url = cliffle.com:git/3p/socialhacker-build
[submodule "etl"]
	path = etl
	url = cliffle.com:git/etl.git
[submodule "vga"]
	path = vga
	url = cliffle.com:git/m4vgalib.git
