[submodule "etl"]
	path = etl
	url = https://github.com/cbiffle/etl.git
[submodule "vga"]
	path = vga
	url = https://github.com/cbiffle/m4vgalib.git
[submodule "cobble"]
	path = cobble
	url = https://github.com/cbiffle/cobble-build.git
